@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 1.05rem;
  box-sizing: border-box;
}

/* Navigation Bar */
.navbar {
  background-color: #2f211b;
  /* background-image: url('./images/woodbgnav.png'); */
  background-repeat: no-repeat;
  background-size: cover;
}

#guestIcon, #userIcon, #cartIcon {
  display:inline-block;
  color: rgb(255, 255, 255);
}

#guestIcon{
  margin-right: 15px;
}

#userIcon {
  margin-right: 5px;
}

#cartIcon {
  margin-right: 20px;
}

.fa-user-circle {
  margin-right: 5px;
}

.navFunc {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
}

.logInOut {
  margin-right: 10px;
}

.fa-shopping-cart {
  color: rgb(255, 255, 255);
}

.navFunc:hover, #cartIcon:hover, .fa-shopping-cart:hover, .nav-link:hover, #userIcon:hover, .breadcrumb-item > a:hover {
  color: rgb(110, 110, 110) !important;
  cursor:pointer;
}

#logoContainer {
  height: 30px;
  width: 108px;
  background-image: url('./images/brandLogo.png');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;

}


/* === Home Page === */
#mainSection{
  display:flex;
  min-height: 100vh;
  background-image: url('./images/woodbg.jpg');
  padding-bottom: 50px;
}

#searchSection{
  flex:1;
}

#displaySection{
  flex: 5;
}

#searchForm {
  height: fit-content;
  width: 100%;
  min-width: 200px;
  padding: 10px;
  background: #4a3333dc;
  border-radius: 10px;
  margin-top: 15px;
}

#searchForm > .form-label {
  color: white;
}

#searchForm .form-control {
  margin-bottom: 10px;
}

#listingGrid {
  margin-top: 15px;
}

#listingContainer {
  background-color: white;
  height: 100%;
  text-align: center;

}

#listingContainer:hover {
  opacity: 0.8;
  cursor: pointer;
}

#listingImageContainer {
width: 100%;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
}

#listingContent {
  height: calc(100% - 400px);
  width: 100%;
  background: rgba(48, 34, 27, 0.856);
  padding: 5px 0px;
  color: white;
}

.listingImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 96%;
  width: 98%;
}

.row {
  margin: 0;
}

#listingName {
  font-size: 1.2rem;
  margin-top: 10px;
}

#priceRange {
  display: flex;
  color: grey;
}

#priceRange span {
  margin: 0 10px;
}

.alert {
  margin-bottom: 0rem;
}

/* === Listing Details Page === */
#breadCrumb {
  height: 45px;
  position:relative;
  width: 100%;
  position: absolute;
}

#breadCrumb > nav {
  position: absolute;
  top: 10px;
  left: 20px;
}

.breadcrumb-item > a {
  color: white !important;
}

.breadcrumb-item.active {
  color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

#detailsPageContainer {
  width: 100%;
  min-height: 100vh;
  /* background-color: teal; */
  display: flex;
  flex-wrap: wrap;
  background-image: url('./images/woodbg.jpg');
  padding-bottom: 50px;
}

#listingImageSection {
  flex: 1;
  display: flex;
  justify-content:center;
  align-items: center;
}

#listingDetailsSection {
  flex: 1.5;
  display: flex;
  justify-content:center;
  align-items: center;
}

#individualListingImageContainer {
  min-width: 300px;
  margin: 50px 25px 0px 25px;
  /* margin-top: 50px;
  margin-right: 25px;
  margin-left: 25px; */
  width: 100%;
  background-color: white;
  min-height: 75%;
  min-height: 500px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#individualListingImage {
  height: 70%;
  min-height: 500px;
  width: 90%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 40px;
  margin-top: 70px;
}

#listingDetails {
  min-width: 300px;
  margin-top: 50px;
  margin-right: 25px;
  margin-left: 25px;
  width: 100%;
  background-color: white;
  min-height: 75%;
  min-height: 500px;
  padding: 30px;
  border-radius: 15px;
}

#listingDetails .fas {
  margin-right: 10px;
}

#listingDetails h2 {
  font-weight: 700;
}

.breadcrumb-item > a {
  color: grey;
}

#addToCartBtn {
  border: none;
  background-color: orange;
}

#addToCartBtn:hover {
  background-color: rgb(255, 145, 0);
}

#available {
  color: green;
}

#unavailable{
  color: red;
}

/* === Login Page ===  */
#heroImage {
  width: 100%;
  height: calc(100vh - 56px);
  background-image: url('./images/boardgamesHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
}

#loginPage {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
}

#loginExtraSection {
  flex: 2;
}

#loginFormSection {
  flex: 1;
  padding: 80px 50px;

}

#loginContainer {
  height: 500px;
  width: 100%;
  min-width: 300px;
  padding: 50px 20px;
  background-color: white;
  border-radius: 5px;
}

#loginBtn {
  width: 100%;
  background-color: rgb(241, 171, 65);
}

#loginBtn:hover {
  background-color: rgb(235, 135, 21);
}

#loginContainer > a {
  color: orange;
}

#loginContainer > a:hover{
  color: rgb(235, 135, 21);
}

#loginExtraSection {
  color: white;
  font-size: 3rem;
  margin: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.invalidMessage {
  color: red;
  font-size: 0.9rem;
}

/* === Cart ===  */

#cartPage {
  /* height: calc(100vh - 56px); */
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-image: url('./images/woodbg.jpg');
}

#cartItemContainer {
  height: 250px;
  width: 85%;
  display: flex;
  background-color: white;
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-bottom: 5px;
}

#cartItemImageContainer{
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cartItemImage {
  height: 90%;
  width: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#cartItemInfo {
  flex: 1;
  position: relative;
  padding: 10px 30px;
}

#cartItemPrice {
  color: rgb(255, 145, 0);
  font-size: 1.3rem;
}

#removeBtn {
  position: absolute;
  top: 0;
  right:15px;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: grey;
}

#removeBtn:hover {
  color: black;
}

.addSubtractBtn {
  border: none;
  background-color:lightgrey;
  width:20px;
  margin: 5px;
}

.addSubtractBtn:hover {
  background-color:orange;
}

#checkoutBtn {
  background-color: orange;
  position: absolute;
  top: 30px;
  right: 20px;
}

#checkoutBtn:hover {
  background-color: rgb(255, 145, 0);
}

#checkoutContainer {
  width: 85%;
  height: 100px;
  /* background-color: blue; */
  position: relative;
}

#cartSubtotal {
  position: absolute;
  bottom: 0;
  right: 20px;
}

#grandTotal {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* === profile page === */
#profilePage {
  height: calc(100vh - 56px);
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('./images/woodbg.jpg');
}

#profileContainer {
  height: 380px;
  width: 400px;
  background-color: white;
  padding: 50px;
  margin-top: 80px;
  border-radius: 5px;
}

#updateProfileBtn {
  width: 100%;
}

/* === update profile page === */
#updateProfilePage {
  height: calc(100vh - 56px);
  width: 100%;
  background-image: url('./images/woodbg.jpg');
  display: flex;
  justify-content: center;
}

#updateProfileContainer {
  height: 490px;
  width: 400px;
  background-color: white;
  padding: 50px;
  margin-top: 80px;
  border-radius: 5px;
}

/* === create account page === */
#registrationHeroImage {
  width: 100%;
  height: calc(100vh - 56px);
  background-image: url('./images/boardgamesHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
}

#registerPage {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

#registerContainer {
  min-height: 550px;
  width: 30%;
  min-width: 300px;
  padding: 50px 20px;
  background-color: white;
  border-radius: 5px;
}

#registerBtn {
  width: 100%;
  background-color: rgb(241, 171, 65);
  margin-bottom: 0px !important;
}

#registerBtn:hover {
  background-color: rgb(235, 135, 21);
}

/* === order history === */
#orderHistoryPage {
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  background-image: url('./images/woodbg.jpg');
}

#orderContainer {
  background-color: white;
  margin: 20px auto;
  min-height: 200px;
  width: 85%;
  position: relative;
}

#orderItem {
  height: 150px;
  width: 95%;
  margin: 10px auto;
  border-top: 1px solid grey;
  /* background-color: yellow; */
  display: flex;
  padding-top: 5px;
}

#orderItemImageSection {
  height: 150px;
  width: 150px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#orderItemImage {
  height: 95%;
  width: 95%;
  /* background-color: blue; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#orderItemDetailsSection {
  flex: 1;
  padding: 20px;
  position: relative;
}

#orderStatus {
  position: absolute;
  top: 0;
  right: 20px;
}

#orderTotalContainer {
  height: 40px;
  width: 95%;
  border-top: 1px solid grey;
  margin: 0 auto;
}

#orderTotal {
  position: absolute;
  bottom: 0;
  right: 20px;
}

#orderSubtotal {
  position: absolute;
  bottom: 0;
  right: 20px;
}

#accordionFlush {
  width: 95%;
  margin: 0 auto;
}

#flush-heading > button {
  color: grey;
}

#flush-heading > button:hover {
  color: black;
}



.accordion-button:not(.collapsed){
  background-color: transparent;
}

.accordion-button:focus{
  box-shadow: none;
}


/* ========= FOR SMALLER DEVICES ========= */
@media screen and (max-width: 576px){
  #mainSection {
    flex-direction: column;
  }
}